hvac >= 0.10.6, != 0.10.12, != 0.10.13, < 1.0.0 ; python_version == '2.7' # bugs in 0.10.12 and 0.10.13 prevent it from working in Python 2
hvac >= 0.10.6, < 1.0.0 ; python_version == '3.5' # py3.5 support will be dropped in 1.0.0
hvac >= 0.10.6 ; python_version >= '3.6'

# these should be satisfied naturally by the requests versions required by hvac anyway
urllib3 >= 1.15 ; python_version >= '3.6' # we need raise_on_status for retry support to raise the correct exceptions https://github.com/urllib3/urllib3/blob/main/CHANGES.rst#115-2016-04-06
urllib3 >= 1.15, <2.0.0 ; python_version < '3.6' # https://urllib3.readthedocs.io/en/latest/v2-roadmap.html#optimized-for-python-3-6

# TODO: remove when 2.9 support is dropped
# we don't use or care about hcloud
# this is for 2.9 only, because the version pre-installed in the default test container in 2.9
# has a constraint for requests that conflicts with hvac >= 0.11.1
# versions chosen here are arbitrary, latest usable at the time of setting, we're just trying to avoid conflicting constraints
hcloud >= 1.16.0 ; python_version >= '3.5'
hcloud >= 1.12.0, < 1.13.0  ; python_version == '2.7'
