name: Collection Docs
concurrency:
  group: docs-${{ github.sha }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 13 * * *'

jobs:
  build-docs:
    permissions:
      contents: read
    name: Build Ansible Docs
    uses: ansible-community/github-docs-build/.github/workflows/_shared-docs-build-push.yml@main
    with:
      ansible-ref: devel
      init-dest-dir: docs/preview

  publish-docs:
    # for now we won't run this on forks
    if: github.repository == 'ansible-collections/community.hashi_vault'
    permissions:
      contents: read
    needs: build-docs
    name: Publish Ansible Docs
    uses: ansible-community/github-docs-build/.github/workflows/_shared-docs-build-publish-surge.yml@main
    with:
      artifact-name: ${{ needs.build-docs.outputs.artifact-name }}
      surge-site-name: community-hashi-vault-main.surge.sh
    secrets:
      SURGE_TOKEN: ${{ secrets.SURGE_TOKEN }}
